<p id="notice"><%= notice %></p>

<h1>Healths</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Text</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @healths.each do |health| %>
      <tr>
        <td><%= health.tittle %></td>
        <td><%= health.text %></td>
        <td><%= health.date %></td>
        <td><%= health.time %></td>
        <td><%= health.name %></td>
        <td class="text-center"><%= image_tag health.image,:size => "100x70" %></td>
        <td><%= link_to 'Show', health %></td>
        <td><%= link_to 'Edit', edit_health_path(health) %></td>
        <td><%= link_to 'Destroy', health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health', new_health_path %>
