<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @health.tittle %>
</p>

<p>
  <strong>Text:</strong>
  <%= @health.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @health.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @health.time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @health.name %>
</p>

<div class="field">
  <%= image_tag @health.image.url(:mini)%>
</div>

<%= link_to 'Edit', edit_health_path(@health) %> |
<%= link_to 'Back', healths_path %>
