<p id="notice"><%= notice %></p>

<div class="text-right">
<%= image_tag "vierne5.png",:size => "500x600" , :class => 'img-responsive', :alt => "Opinion", :title => ""%>
</div>
  

<h3 class="bg-info">Sección de Opiniones</h3>
<br>
<br>  
<br>



<table class="table table-bordered">
  <thead>
    <tr>
      <th class="bg-primary">Titulo</th>
      <th class="bg-primary">Texto</th>
      <th class="bg-primary">Fecha</th>
      <th class="bg-primary">Hora</th>
      <th class="bg-primary">Edtior</th>
      <th class="bg-primary">Imagen</th>
      <th colspan="3" class="bg-primary">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= opinion.tittle %></td>
        <td><%= opinion.text %></td>
        <td><%= opinion.date %></td>
        <td><%= opinion.time %></td>
        <td><%= opinion.name %></td>
        <td class="text-center"><%= image_tag opinion.image,:size => "100x70" %></td>
        <td><%= link_to 'Periodico', opinion %></td>
        <td><%= link_to 'Editar', edit_opinion_path(opinion) %></td>
        <td><%= link_to 'Eliminar', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opinion', new_opinion_path %>
