

<p id="notice"><%= notice %></p>


<div class="container-fluid">

<div class="container-fluid">
  <div class="text-center">
    <% if @notice.tipo == 1  %>
        <h1>Salup</h1>
      <% elsif @notice.tipo == 2 %>  
        <h1>Opinion</h1>
      <% elsif @notice.tipo == 3 %>
        <h1>Deporte</h1>
      <% elsif @notice.tipo == 4 %>
        <h1>Nacional</h1> 
      <% elsif @notice.tipo == 5 %>  
        <h1>Social</h1>
      <%end%>
 </div>
<hr>
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1> 
              <%= @notice.titulo%>
            </h1>
            <p>Escrito por<i class="fa fa-pencil" aria-hidden="true"></i><a><%=@notice.nombre%></a> <i class="fa fa-clock-o" aria-hidden="true"></i> <%=l @notice.fecha, :format => :long  %></p>
          </div>
        </div>
      </div>


      <!-- /.row -->

      <div class="row">
        <div class="col-sm-8">

          <!-- Image -->
          <figure class="margin-b-2">
            <%= image_tag @notice.image, size:"850x400", class:"img-responsive"%>
            <figcaption class="margin-t-h">
              
              <% if @notice.tipo == 1  %>
                Salup
              <% elsif @notice.tipo == 2 %>  
                Opinion
              <% elsif @notice.tipo == 3 %>
                Deporte
              <% elsif @notice.tipo == 4 %>
                Nacional
              <% elsif @notice.tipo == 5 %>  
                Social
              <%end%>
 
            </figcaption>
          </figure>

          <p class="text-justify">
           <%=@notice.texto%>.
          <hr>

          <!-- Comments -->
          <h3>Mas Noticias</h3>
        <% @notices.each do |notice| %>
          <% if notice.tipo== @notice.tipo and notice.id!= @notice.id %>
          <div class="well">
            <div class="media">
              <div class="media-left">
                <%= image_tag notice.image,:size => "70x70", class:"image-resposive" %>
              </div>
              <div class="media-body">
                <h4 class="margin-t-0"><a> <%=notice.titulo%> </a></h4>
                <p><a href="#"><%=notice.fecha%></a></p>
               
                <p>
                  
                  <%= link_to 'Ver noticia Completa', notice , class: "btn btn-sm btn-primary" %>
                                    
                </p>
              </div>
            </div>
          </div>
        
          <% end %>   
        <% end %>

          <hr>

          <!-- Comment form -->
          <h3>Leave a comment</h3>
          <p>Please keep in mind that comments are moderated and rel="nofollow" is in use. So, please do not use a spammy keyword or a domain as your name, or else it will be deleted. Thank you!</p>

          <div class="well">
            <form>
              <div class="form-group">
                <label for="contactName">Name</label>
                <input type="email" class="form-control" id="contactName" placeholder="Enter your name">
              </div>
              <div class="form-group">
                <label for="contactEmail">Email</label>
                <input type="email" class="form-control" id="contactEmail" placeholder="Enter email">
                <p class="help-block">Make sure you use a valid email address</p>
              </div>
              <div class="form-group">
                <label for="contactComment">Comment</label>
                <textarea class="form-control" id="contactComment"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <hr>

          

        </div>
        <div class="col-sm-4">
          <!-- Search -->

          <div class="well">
  <div id="datetimepicker1" class="input-append date">
    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>

          <!-- list group -->
          <div class="list-group margin-b-3">
              <a href="#" class="active list-group-item">  <%= @notice.tipo %></a>
              <a href="#" class="list-group-item"><%=l @notice.hora, :format => :long  %></a>
              <a href="#" class="list-group-item"> <%=h l @notice.fecha,:format => :short %></a>
          </div>

                  <!-- Panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Sidebar panel widget</h4>
            </div>
            <div class="panel-body">
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <!-- Panel -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Sidebar panel widget</h4>
            </div>
            <div class="panel-body">
              <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

        </div>
      </div>
      <!-- /.row -->

      <hr>
      
    </div>

   <script type="text/javascript">
        $(function () {
            $('#datetimepicker12').datetimepicker({
                inline: true,
                sideBySide: true
            });
        });
    </script>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
</div>