<p id="notice"><%= notice %></p>

<h1>Nationals</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Text</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nationals.each do |national| %>
      <tr>
        <td><%= national.tittle %></td>
        <td><%= national.text %></td>
        <td><%= national.date %></td>
        <td><%= national.time %></td>
        <td><%= national.name %></td>
        <td class="text-center"><%= image_tag national.image,:size => "100x70" %></td>
        <td><%= link_to 'Show', national %></td>
        <td><%= link_to 'Edit', edit_national_path(national) %></td>
        <td><%= link_to 'Destroy', national, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New National', new_national_path %>
