<p id="notice"><%= notice %></p>

<h1>Sports</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Text</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= sport.tittle %></td>
        <td><%= sport.text %></td>
        <td><%= sport.date %></td>
        <td><%= sport.time %></td>
        <td><%= sport.name %></td>
        <td class="text-center"><%= image_tag sport.image,:size => "100x70" %></td>
        <td><%= link_to 'Periodico', sport %></td>
        <td><%= link_to 'Edit', edit_sport_path(sport) %></td>
        <td><%= link_to 'Destroy', sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sport', new_sport_path %>
