<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @sport.tittle %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sport.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sport.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @sport.time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sport.name %>
</p>
<div class="field">
  <%= image_tag @sport.image.url(:mini)%>
</div>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
