
<style>
  

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
} 

.tope{
top: -140px;
  position: relative;
  margin: auto;
}


</style>

<script>
  $('.carousel').carousel()

</script>


<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Portfolio Item
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Portfolio Item</li>
                </ol>
            </div>
        </div>


    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-8">

          <!-- Image -->
          <figure class="margin-b-2">
            <div class="row">

            <div class="col-md-11">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"  class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <% @notices.each do |notice| %>
                        <div class="item">
                            <%= image_tag notice.image,height:"750", width:"800"%>
                          <div class="carousel-caption">
                            <h3><%= notice.titulo %></h3>
       
                          </div>
                        </div>
                        
                        <% end %>
                        <div class="item  active">
                            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <i class="fa fa-arrow-left glyphicon-chevron-left" aria-hidden="true"></i>

                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                       <i class="fa fa-arrow-right glyphicon-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
          </figure>
            <hr>
            <!-- Noticias por tipo-->

            <!-- Nacional-->
          <div class="row">
        <div class="col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Nacional</h4>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
          <% @notices.each do |notice| %>
            <% if notice.tipo== 4%>
            <div class="col-md-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"638", width:"385", class:"img-responsive", title:"  "%>
                </a>
                <h3>
                    <a href="#"><h3><%= notice.titulo %></h3></a>
                </h3>
                <!--<p><%= notice.texto %></p>-->
            </div>
            <% end %>
            <% end %>
            </div>

              <!-- Social-->
          <div class="row">
        <div class="col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Social</h4>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
          <% @notices.each do |notice| %>
            <% if notice.tipo== 5%>
            <div class="col-md-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"638", width:"385", class:"img-responsive", title:" "%>
                </a>
                <h3>
                    <a href="#"><h3><%= notice.titulo %></h3></a>
                </h3>
                <!--<p><%= notice.texto %></p>-->
            </div>
            <% end %>
            <% end %>
            </div>

              <!-- Salud-->
          <div class="row">
        <div class="col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Salud</h4>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
          <% @notices.each do |notice| %>
            <% if notice.tipo== 1%>
            <div class="col-md-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"638", width:"385", class:"img-responsive", title:"  "%>
                </a>
                <h3>
                    <a href="#"><h3><%= notice.titulo %></h3></a>
                </h3>
                <!--<p><%= notice.texto %></p>-->
            </div>
            <% end %>
            <% end %>
            </div>

              <!-- Opinion-->
          <div class="row">
        <div class="col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Opinion</h4>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
          <% @notices.each do |notice| %>
            <% if notice.tipo== 2%>
            <div class="col-md-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"638", width:"385", class:"img-responsive", title:" "%>
                </a>
                <h3>
                    <a href="#"><h3><%= notice.titulo %></h3></a>
                </h3>
                <!--<p><%= notice.texto %></p>-->
            </div>
            <% end %>
            <% end %>
            </div>

              <!-- Deportes-->
          <div class="row">
        <div class="col-sm-12">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Deporte</h4>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
          <% @notices.each do |notice| %>
            <% if notice.tipo== 3 %>
            <div class="col-md-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"638", width:"385", class:"img-responsive", title:""%>
                </a>
                <h3>
                    <a href="#"><h3><%= notice.titulo %></h3></a>
                </h3>
                <!--<p><%= notice.texto %></p>-->
            </div>
            <% end %>
            <% end %>
            </div>
          

          <!-- Comments -->
       
        <!-- /.row -->

        <hr>

        


        </div>

        <div class="col-sm-4">
          <!-- Search -->
               <!-- Panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Espacio publicitario</h4>
            </div>
            <div class="panel-body">
              Aqui va la imagen
            </div>
          </div>

          <!-- lista  de tablazos -->

          <div class="list-group margin-b-3">

              <ul class="list-group">
              <a class="active list-group-item">Tablazos</a>
              <% @notices.each do |notice| %>
              <% if notice.tipo==7 %>
                <li class="list-group-item">
                  <span class="badge"></span>
                  <%=  link_to notice.titulo, notice %>
                </li>
                 <% end %>
                <% end %>
              </ul>
          </div>

              <!-- Calendario -->

        <div style="overflow:hidden;">
          <div class="form-group">
              <div class="row">
                  <div class="col-md-8">
                     <div id="datetimepicker12"></div>
                  </div>
              </div>
          </div>
          <script type="text/javascript">
             $(function () {
                 $('#datetimepicker12').datetimepicker({
                     inline: true,
                     format: "dd/MM/yyyy",
                      icons: {                  
                         time: "fa fa-clock-o",
                         date: "fa fa-calendar",
                         up: "fa fa-arrow-up",
                         down: "fa fa-arrow-down",
                         next: "fa fa-arrow-right",
                         previous: "fa fa-arrow-left",    
                }
                 });
             });
          </script>
      </div>

          <!-- Panel -->
               <!-- Panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title">Espacio publicitario</h4>
            </div>
            <div class="panel-body">
              Aqui va la imagen
            </div>
          </div>

        </div>
      </div>
      <!-- /.row -->

      <hr>
      
    </div>

<!-- Our Customers -->
        <div class="row">
        
            <div class="col-lg-12">
                <h2 class="page-header">Mas Noticias</h2>
            </div>
              <% @notices.each do |notice| %>
              <div class="col-sm-3 col-xs-6 portfolio-item">
                <a href="#">
              <%= image_tag notice.image, height:"200", width:"400", title:"", class:"img-responsive customer-img"%>
                </a>
                <h3>
                    <a class="text-center"><h3><%= notice.titulo %></h3></a>
                </h3>
            </div>

             <% end %>
       
          </div>
</div>



<!-- *********************************************************************************************************** -->
