<p id="notice"><%= notice %></p>

<h1>Sends</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sends.each do |send| %>
      <tr>
        <td><%= send.fecha %></td>
        <td><%= link_to 'Show', send %></td>
        <td><%= link_to 'Edit', edit_send_path(send) %></td>
        <td><%= link_to 'Destroy', send, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send', new_send_path %>
