<p id="notice"><%= notice %></p>

<h1>Newspapers</h1>

<table>
  <thead>
    <tr>
      <th>Tittle1</th>
      <th>Text1</th>
      <th>Tittle2</th>
      <th>Text2</th>
      <th>Tittle3</th>
      <th>Text3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newspapers.each do |newspaper| %>
      <tr>
        <td><%= newspaper.tittle1 %></td>
        <td><%= newspaper.text1 %></td>
        <td><%= newspaper.tittle2 %></td>
        <td><%= newspaper.text2 %></td>
        <td><%= newspaper.tittle3 %></td>
        <td><%= newspaper.text3 %></td>
        <td><%= link_to 'Show', newspaper %></td>
        <td><%= link_to 'Edit', edit_newspaper_path(newspaper) %></td>
        <td><%= link_to 'Destroy', newspaper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newspaper', new_newspaper_path %>
