<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle1:</strong>
  <%= @newspaper.tittle1 %>
</p>

<p>
  <strong>Text1:</strong>
  <%= @newspaper.text1 %>
</p>

<p>
  <strong>Tittle2:</strong>
  <%= @newspaper.tittle2 %>
</p>

<p>
  <strong>Text2:</strong>
  <%= @newspaper.text2 %>
</p>

<p>
  <strong>Tittle3:</strong>
  <%= @newspaper.tittle3 %>
</p>

<p>
  <strong>Text3:</strong>
  <%= @newspaper.text3 %>
</p>

<%= link_to 'Edit', edit_newspaper_path(@newspaper) %> |
<%= link_to 'Back', newspapers_path %>
