<p id="notice"><%= notice %></p>

<h1>Socials</h1>

<table>
  <thead>
    <tr>
      <th>Tittle</th>
      <th>Text</th>
      <th>Date</th>
      <th>Time</th>
      <th>Name</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socials.each do |social| %>
      <tr>
        <td><%= social.tittle %></td>
        <td><%= social.text %></td>
        <td><%= social.date %></td>
        <td><%= social.time %></td>
        <td><%= social.name %></td>
         <td class="text-center"><%= image_tag social.image,:size => "100x70" %></td>
        <td><%= link_to 'Show', social %></td>
        <td><%= link_to 'Edit', edit_social_path(social) %></td>
        <td><%= link_to 'Destroy', social, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social', new_social_path %>
