<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @social.tittle %>
</p>

<p>
  <strong>Text:</strong>
  <%= @social.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @social.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @social.time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @social.name %>
</p>
<div class="field">
  <%= image_tag @social.image.url(:mini)%>
</div>

<%= link_to 'Edit', edit_social_path(@social) %> |
<%= link_to 'Back', socials_path %>
